{% extends base_template %}

{% block content %} 
    <link href="{{ asset('bundles/applicationsonatauser/css/style.css') }}" rel="stylesheet">
    <style>
        .btn-success {
            color: #FFF !important;
            background-color: #5CB85C !important;
            border-color: #4CAE4C !important;
        }
        .nav.nav-pills > li > a {
            color: #337AB7 !important;
            border-radius: 4px !important;
        }
        .main-header, .content-header, .main-sidebar {
            display: none !important;
        }
        .content-wrapper {
            background: #eeeeee !important; /* Old browsers */
            background: -moz-linear-gradient(top,  #f8f8f8 0%, #c6c6c6 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#c6c6c6)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #f8f8f8 0%,#c6c6c6 100%) !important; /* IE10+ */
            background: linear-gradient(to bottom,  #f8f8f8 0%,#c6c6c6 100%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c6c6c6',GradientType=0 ) !important; /* IE6-9 */
        }
        .forgot {
            float:right;
        } 
        @media (max-width: 500px) {
            .container {
                
                margin-top: -110px;
                padding-right: 0px;
                padding-left: 0px;
                height: 100%;
            }
            .right-side{
                position: absolute;
            }
            .remember {
                margin-left: -30px;
            }
            .forgot {
                margin-right: -10px;
            }
        }
    </style>
    <script>
        $('body').addClass( "sidebar-collapse" );
    </script>
    <main class="container">
        <form class="form-signin bounceIn animated" action="{{ path("sonata_user_admin_security_check") }}" method="post">
            <header class="decoracionCabecera"></header>
            <section class="cuerpoFormulario">
                <h2 class="form-signin-heading"><img id="headerLogo" src="{{ asset('bundles/applicationsonatauser/images/headerLogo.png') }}"/></h2> 
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <label for="username" class="sr-only">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }} / {{ 'form.email'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }} / {{ 'form.email'|trans({}, 'FOSUserBundle') }}" maxlength="30" title="Introduzca un nombre de usuario" alt = "Nombre de usuario" required/>
                <label for="password" class="sr-only">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" maxlength="30" title="Introduzca una contraseña" alt = "Contraseña" required/>
                <div class="checkbox">
                    <label class="remember" for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                    <a class="forgot" href="{{ path('fos_user_resetting_request') }}">{{ "security.login.forgot"|trans({}, 'FOSUserBundle') }}</a>
                </div>
                {% if error %} 
                    <div id="login-error" class="alert alert-danger">
                        {{ error|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-lg btn-success btn-block" id="_submit" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                <div class="nuevoUsuario">
                    <ul class="nav nav-pills">
                        <li><a href="{{ path('fos_user_registration_register') }}">Registrar nuevo usuario</a></li>
                    </ul>
                </div>
            </section> 
        </form>
    </main>

{% endblock content %}
