<main class="container">
    <div class="form-signin bounceIn animated">
        <header class="decoracionCabecera"></header>
        <section class="cuerpoFormulario">
            <h2 class="form-signin-heading"><img id="headerLogo" src="{{ asset('bundles/applicationsonatauser/images/headerLogo.png') }}"/></h2>
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                {{ form_widget(form) }}
                <div>                    
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}"></input>
                </div>
                <div class="nuevoUsuario">
                <button class="btn btn-lg btn-success btn-block" type="button" onclick="window.location.href = '{{ path('fos_user_change_password') }}'">Editar contrase침a</button>
                </div>
                <div class="nuevoUsuario">
                    <ul class="nav nav-pills">
                        <li><a href="javascript:history.back();">Volver atr치s</a></li>
                    </ul>
                </div>
            </form>
        </section>          
    </div>
</main>

<script type="text/javascript">
    function cargarInput() {
        usuario = document.getElementById("fos_user_profile_form_username");
        email = document.getElementById("fos_user_profile_form_email");
        contrase침a = document.getElementById("fos_user_profile_form_current_password");

        usuario.classList.add("form-control");
        email.classList.add("form-control");
        contrase침a.classList.add("form-control");
    }

    cargarInput();
</script>