{% extends sonata_block.templates.block_base %}

{% block block %}
    {% spaceless %}
        <div class="col-md-3">
            <div>
                <h4>
                    {% if admin.hasRoute('list') %}
                        <a href="{{ admin.generateUrl('list') }}">{{ admin.label|trans({}, admin.translationdomain) }}</a>
                    {% else %}
                        {{ admin.label|trans({}, admin.translationdomain) }}
                    {% endif %}
                    {% if pager and pager.getNbResults() > 0 %}
                        <span class="label label-info">{{ pager.getNbResults() }}</span>
                    {% endif %}
                </h4>
            </div>
            <ul>
                {% if pager %}
                    {% for result in pager.getResults() %}
                        {% if admin.hasRoute('edit') %}
                            {% if admin.label == "Contraseñas" %}
                                <li><a href="{{ admin.generateObjectUrl('show', result) }}">{{ admin.toString(result) }}</a></li>
                                {% else %}
                                    {% if admin.label == "TipoPass" %}
                                    <li style="cursor:default;color:#444444;">{{ admin.toString(result) }}</li>
                                    {% else %}
                                    <li><a href="{{ admin.generateObjectUrl('edit', result) }}">{{ admin.toString(result) }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                            <li><i>{{ admin.toString(result) }}</i></li>
                                {% endif %}
                            {% else %}
                        <li><i>{{ 'no_results_found'|trans({}, 'SonataAdminBundle') }}</i></li>
                            {% endfor %}
                        {% else %}
                            {% if admin.hasRoute('create') %}
                        <li><i>{{ 'no_results_found'|trans({}, 'SonataAdminBundle') }} ~ <a href="{{ admin.generateUrl('create') }}">{{ 'add_new_entry'|trans({}, 'SonataAdminBundle') }}</a></i></li>
                            {% else %}
                        <li><i>{{ 'no_results_found'|trans({}, 'SonataAdminBundle') }}</i></li>
                            {% endif %}
                        {% endif %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock %}
