{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Password</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Nombreusuario</th>
                <td>{{ entity.nombreUsuario }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comentario }}</td>
            </tr>
            <tr>
                <th>Fechaexpira</th>
                <td>{{ entity.fechaExpira|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaultimoacceso</th>
                <td>{{ entity.fechaUltimoAcceso|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tipopassword</th>
                <td>{{ entity.tipoPassword }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('managePass') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('managePass_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
