<main class="container">
    <div class="form-signin bounceIn animated">
        <header class="decoracionCabecera"></header>
        <section class="cuerpoFormulario">
            <h2 class="form-signin-heading"><img id="headerLogo" src="{{ asset('bundles/applicationsonatauser/images/headerLogo.png') }}"/></h2>
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" onsubmit="return comprobarClaves()">
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"></input>
                </div>
                <div class="nuevoUsuario">
                    <ul class="nav nav-pills">
                        <li><a href="javascript:history.back();">Volver atrás</a></li>
                    </ul>
                </div>
            </form>
        </section>          
    </div>
</main>

<script type="text/javascript">
    function cargarInput() {
        contraseña_actual = document.getElementById("fos_user_change_password_form_current_password");
        contraseña1 = document.getElementById("fos_user_change_password_form_new_first");
        contraseña2 = document.getElementById("fos_user_change_password_form_new_second");
        contraseña_actual.classList.add("form-control");
        contraseña1.classList.add("form-control");
        contraseña2.classList.add("form-control");
    }

    function comprobarClaves() {
        clave1 = document.getElementById("fos_user_change_password_form_new_first");
        clave2 = document.getElementById("fos_user_change_password_form_new_second");

        if (clave1.value === clave2.value) {
            return true;
        } else {
            clave1.focus();
            clave1.value = "";
            clave2.value = "";
            clave1.placeholder = "Las contraseñas no coinciden";
            clave2.placeholder = "Las contraseñas no coinciden";
            return false;
        }
    }

    cargarInput();
</script>